.Index {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.Index-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.Index-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.Index-title {
  font-size: 1.5em;
  color: #ffffff;
}

.Index-intro {
  font-size: large;
}

/* tx庫 */
#SourceText {
  margin: 20px;
}

#SourceTextItem {
  color: #222;
}

/* 下拉組件 */

.SelectComponent {
  display: flex;
  justify-content: center;
}

.ReactSelect {
  width: 40%;
}

/* 按鈕item */
.ButtonItem button {
  margin: 10px;
}

/* Table */
.TableComponent {
  display: flex;
  justify-content: center;
}

.kwTable {
  margin: 20px;
}

.pkwTable {
  margin: 20px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
