.ChatRoom {
  width: 360px;
  height: 600px;
  background-color: #fff;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3);
  margin-top: 10px;
  margin-bottom: 10px;
}

.ChatRoom h4 {
  background-color: transparent;
  border-bottom: 1px solid rgb(219, 219, 219);
  color: #222;
  margin: 0;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ChatRoom .chats {
  box-sizing: border-box;
  padding: 10px 20px;
  margin: 10px 0 0;
  height: 505px;
  overflow-y: scroll;
}

.ChatRoom .chats .chat {
  background: rgba(169, 207, 233, 0.4);
  position: relative;
  padding: 5px 13px;
  font-size: 15px;
  border-radius: 10px;
  list-style: none;
  float: left;
  clear: both;
  margin: 10px 0;
  max-width: 200px;
}

.ChatRoom .chats .chat span {
  color: rgb(131, 131, 131);
  height: 20px;
  position: absolute;
  top: -20px;
  left: -5px;
}

.ChatRoom .chats .chat.right {
  float: right;
  clear: both;
}

.ChatRoom .input {
  height: 45px;
  width: 100%;
  background-color: transparent;
  border-top: 1px solid rgb(219, 219, 219);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.ChatRoom .input input[type="text"] {
  outline: 0;
  background: transparent;
  border: transparent;
  padding: 0 5px 0 10px;
  margin-right: 5px;
  border-radius: 5px;
  height: 100%;
  width: 280px;
  box-sizing: border-box;
  font-size: 15px;
}

.ChatRoom .input input[type="text"]::placeholder {
  color: #ddd;
}

.ChatRoom .input input[type="submit"] {
  outline: 0;
  background: transparent;
  border: 1px solid #dddddd;
  height: 30px;
  width: 70px;
  font-size: 14px;
  box-sizing: border-box;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.ChatRoom .input input[type="submit"]:hover {
  background: #2897ff;
  border: 1px solid #2897ff;
  color: #fff;
}
