.CsCreator-Index {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.CsCreator-Item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
}

.CsCreator-Add {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.CsCreator-ItemTableComponent {
  width: 70%;
  align-self: center;
}

.CsCreator-SelectComponent {
  margin-left: 10px;
  margin-right: 10px;
}

.CsCreator-pKwSelectComponent {
}

.CsCreator-TableComponent {
}

.KI_ItemSelectComponent {
  width: 30%;
  margin-top: 30px;
}

.CsCreator-AddBtn {
  margin-left: 10px;
}
