.CsCreator-Index {
  display: flex;
  text-align: center;
  justify-content: center;
}

.CsCreator-Item {
  flex: 1;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
}

.CsCreator-ArticlePreviewComponent {
  flex: 1;
}

.CsCreator-Add {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.CsCreator-InputItem {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 10px;
  margin-right: 10px;
}

.CsCreator-ItemTableComponent {
  align-self: center;
}

.CsCreator-SelectComponent {
  margin-left: 10px;
  margin-right: 10px;
}

.CsCreator-pKwSelectComponent {
}

.CsCreator-TableComponent {
}

.CsCreator-AddBtn {
  margin-left: 10px;
}
