.CsCreator-Index {
  display: flex;
  flex: 1;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.CsCreator-IndexItem {
  display: flex;
  justify-content: center;
}

/* left區塊 */
.CsCreator-Item {
  flex: 1;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
}

/* right區塊 */
.CsCreator-ArticlePreviewComponent {
  flex: 1;
  margin: 10px 10px 0 0;
}

.CsCreator-Add {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 10px 10px 10px;
  padding: 0 10px 10px 0;
  border-radius: 10px;
  background: #f3f3f3;
}

.CsCreator-AddItem {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px 10px 0 10px;
  height: 50px;
}

.CsCreator-ItemTableComponent {
  align-self: center;
  margin: 10px 10px 0 10px;
}

.CsCreator-SelectComponent {
}

.CsCreator-AddBtn {
  margin-left: 10px;
}
