.CsCreator-Index {
  display: flex;
  text-align: center;
  justify-content: center;
}

.CsCreator-Item {
  flex: 1;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
}

.CsCreator-ArticlePreviewComponent {
  flex: 1;
}

.CsCreator-Add {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 0 0 10px 10px;
  background: #f3f3f3
}

.CsCreator-AddItem {
  display: flex;
  margin-top: 10px;
}

.CsCreator-ItemTableComponent {
  align-self: center;
}

.CsCreator-SelectComponent {
  margin-left: 10px;
  margin-right: 10px;
}

.CsCreator-AddBtn {
  margin-left: 10px;
}

.CsCreator-pKwSelectComponent {}

.CsCreator-TableComponent {}