.Index {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.Index-header {
  background-color: #222;
  height: 70px;
  padding: 20px;
  color: white;
}

.Index-title {
  font-size: 1.5em;
  color: #ffffff;
}

.Index-intro {
  font-size: large;
}

.Index-Content-Page {
  flex: 3;
  display: flex;
  justify-content: center;
}
