@charset "UTF-8";
.Ki {
  display: flex;
  flex-direction: column;
  justify-content: center; }

/* 下拉組件 */
.SelectComponent {
  margin-top: 20px;
  margin-bottom: 20px; }

/* 按鈕item */
.ButtonItem button {
  margin: 10px; }

/* tx庫 */
.SourceText,
.TotalKeywordTable {
  display: flex;
  justify-content: center;
  margin-top: 20px; }

#SourceTextItem {
  margin-left: 20px;
  margin-right: 20px;
  width: 70%; }
  #SourceTextItem #SourceTextContent {
    background: #f0f0f0;
    border-radius: 20px;
    padding: 15px; }
  #SourceTextItem .TableComponent {
    margin-top: 20px;
    display: flex;
    justify-content: center; }
  #SourceTextItem .kwTable {
    margin-right: 20px; }

#TotalKeywordTable {
  width: 500px;
  margin-left: 10px;
  margin-bottom: 10px; }

#ManualTag-List {
  width: 30%;
  height: 450px;
  margin-right: 20px;
  overflow: auto; }
  #ManualTag-List #ManualTag-ListItem {
    display: flex;
    flex: 1;
    justify-content: space-between; }
