.Ki {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* 下拉組件 */
.SelectComponent {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* 按鈕item */
.ButtonItem button {
  margin: 10px;
}

/* tx庫 */
.SourceText {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

#SourceTextItem {
  background: rgb(240, 240, 240);
  padding: 10px;
  border-radius: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

/* Table */
.TableComponent {
  display: flex;
  justify-content: center;
}

.kwTable {
  margin: 20px;
}

.pkwTable {
  margin: 20px;
}
